
@font-face {font-family:'jak';src: url('/fonts/jak.otf');}
.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
header {
    font-family: jak;
    height: 100vh;
    background-color: #ffb2b6; 
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.navigation { 
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    margin: 0 auto;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e96f89;
    border-radius: 50px;
   
  
}


.menu {
    max-width: 1200px; 
    margin: auto; 
    font-size: 20px;
}

.nav {
    list-style-type: none; 
    padding: 0;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;

}

.nav li {
    margin: 0 15px; 
}

.nav li a {
    text-decoration: none; 
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    border-radius:50px;
}

.nav li a:hover {
    background-color: #694851; 
    border-radius:50px;
}

.nav li a.active {
    background-color: #d00b67;
    border-radius:50px; 
}
body {
    font-family: jak;
    background-color: #ffb2b6; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    background-color: #e76e82;
    width: 100%;
    font-family: jak;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;

}
footer p {
    margin: 0;
    color: #fff;
    font-size: 1.2em;
}
h1 {
    text-align: center;
    color: #c71c4b; /* Тёмный малиновый */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #c71c4b; /* Цвет меток */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c71c4b; /* Малиновая рамка */
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ff4081; /* Более яркая малиновая при фокусе */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #c71c4b; /* Основной цвет кнопки */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4081; /* Цвет кнопки при наведении */
}